[user]
	email = zhilu@ustc.edu.cn
	name = Zhi Lu
[core]
	editor = lvim
	excludesfile = ~/.dotfiles/git/gitignore_global
[include]
	path = ~/.gitalias/gitalias.txt
[alias]
	st = status -sb
	unstage = restore --staged
  get = !git fetch --prune && git pull --rebase && git submodule update --init --recursive
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.dotfiles/git/git-commit-template
