[user]
	email = zhilu@uestc.edu.cn
	name = Zhi Lu
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/git/gitignore_global
[include]
	path = ~/.gitalias/gitalias.txt
[alias]
	st = status -sb
	unstage = restore --staged
	get = !git fetch --prune && git pull --rebase && git submodule update --init --recursive
	lg = log --graph --oneline --decorate --all
	last = log -1 HEAD --stat
	amend = commit --amend --no-edit
[submodule]
	recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.dotfiles/git/git-commit-template
